.main-1 {
  /* height: 72px; */
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  top: 0;
}
.main-header-2 {
  height: 72px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* width: 100%; */
  background-color: white;
}
.main-2 {
  height: 2000px;
  background: linear-gradient(180deg, #f8f7fb, rgba(251, 251, 253, 0));
}
.header-1 {
  display: flex;

  align-items: center;
  height: -webkit-fill-available;
  justify-content: center;
}

.dropdown {
  position: absolute;
  top: 10%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown ul li:hover {
  background-color: #f0f0f0;
}
.list-1 {
  padding: 20px;
  font-size: 16px;
  font-weight: 450;
  color: rgb(39, 38, 38);
  margin-left: 19px;
}
.logo-img-1 {
  width: 200px;
  height: 30px;
  margin-right: 52px;
}
.login-btn {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border-color: var(--P100, #275df5);
  background-color: white;
  margin-left: 250px;
  font-size: 16px;
  color: var(--P100, #275df5);
  font-weight: 500;
  border: 1.5px solid;
  font-weight: bold;
  cursor: pointer;
}
.register-btn {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: orangered;
  color: #ffffff;
  border: none;
  margin-left: 20px;
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.register-btn:hover {
  background-color: #777777;
}
.login-btn:hover {
  background-color: #b1c4f9;
}
.down {
  height: 10px;
  width: 15px;
  margin-top: 5px;
}
